<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/util  
           http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<!-- add the application context file from the game project -->
	<import resource="classpath*:Game/src/main/resources*.xml" />


	<context:component-scan base-package="com.mcnaughty" />


	<!-- gameCore properties -->
	<util:properties id="gameCoreProperties" location="gameCoreProperties.properties" />
	<!-- player properties -->
	<util:properties id="playerProperties" location="player.properties" />


	<bean class="com.mcnaughty.game.gui.ScreenRefresher">
		<property name="fps" value="#{gameCoreProperties['framesPerSecond']}" />
	</bean>
	
	<bean class="com.mcnaughty.game.gameCore.GamePlay">
		<property name="milisecondsInTick" value="#{gameCoreProperties['milisecondsInTick']}" />
	</bean>
	
	<bean class="com.mcnaughty.spaceInvaders.entity.TestPlayer">
		<constructor-arg name="xStartLocation" value="100" />
		<constructor-arg name="yStartLocation" value="100" />
		<constructor-arg name="height"
			value="#{playerProperties['player.initialHeight']}" />
		<constructor-arg name="width"
			value="#{playerProperties['player.initialWidth']}" />
		<constructor-arg name="imagePath"
			value="#{playerProperties['player.imagePath']}" />
		<property name="speed" value="#{playerProperties['player.initialSpeed']}"></property>
	</bean>
</beans>